 <h1 align=\"center\"><font color='green'><font size=\"6\">Zillow house prediction</font> </h1>

<div style="background-color: #90EE90;">.</div>  </div>

- Creating a predictive model for housing prices using Linear Regression.
 - The model is created from a dataset collected from kaggle.
  - Features like number of bedrooms, bathrooms, area are used for the prediction

In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import median_absolute_error

In [2]:
#creating dataframe 
house = pd.read_csv('zillow.csv')
house.head()
#displaying first 5 rows

,State,City,Street,Zipcode,Bedroom,Bathroom,Area,PPSq,LotArea,MarketEstimate,RentEstimate,Latitude,Longitude,ListedPrice
0,AL,Saraland,Scott Dr,36571.0,4.0,2.0,1614.0,148.636927,0.3805,240600.0,1599.0,30.819534,-88.095960,239900.0
1,AL,Robertsdale,Cowpen Creek Rd,36567.0,3.0,2.0,1800.0,144.388889,3.2000,NaN,NaN,30.590004,-87.580376,259900.0
2,AL,Gulf Shores,Spinnaker Dr #201,36542.0,2.0,2.0,1250.0,274.000000,NaN,NaN,NaN,30.284956,-87.747920,342500.0
3,AL,Chelsea,Mallet Way,35043.0,3.0,3.0,2224.0,150.629496,0.2600,336200.0,1932.0,33.357986,-86.608700,335000.0
4,AL,Huntsville,Turtlebrook Ct,35811.0,3.0,2.0,1225.0,204.081633,NaN,222700.0,1679.0,34.775517,-86.440700,250000.0

In [3]:
house.shape
#gives no. of rows & columns

(22681, 14)

In [4]:
house.size
#displaying the dataframe size

317534

In [5]:
house.info()
#displaying valuable information of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22681 entries, 0 to 22680
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           22681 non-null  object
 1   City            22681 non-null  object
 2   Street          22681 non-null  object
 3   Zipcode         22681 non-null  float64
 4   Bedroom         22667 non-null  float64
 5   Bathroom        22647 non-null  float64
 6   Area            22681 non-null  float64
 7   PPSq            22681 non-null  float64
 8   LotArea         21779 non-null  float64
 9   MarketEstimate  15445 non-null  float64
 10  RentEstimate    16705 non-null  float64
 11  Latitude        22681 non-null  float64
 12  Longitude       22681 non-null  float64
 13  ListedPrice     22681 non-null  float64
dtypes: float64(11), object(3)
memory usage: 2.4+ MB

In [6]:
house.describe()
#displaying the statistical properties of dataframe

,Zipcode,Bedroom,Bathroom,Area,PPSq,LotArea,MarketEstimate,RentEstimate,Latitude,Longitude,ListedPrice
count,22681.000000,22667.000000,22647.000000,22681.000000,22681.000000,21779.000000,1.544500e+04,16705.000000,22681.000000,22681.000000,2.268100e+04
mean,50023.455403,3.393435,2.423299,2128.138398,222.641994,2.354870,4.870383e+05,2624.699192,39.751686,-92.299353,5.324399e+05
std,29570.312497,1.050506,1.157670,1577.512556,202.811788,16.128371,1.155986e+06,4029.614920,5.694751,16.866820,1.574922e+06
min,1002.000000,0.000000,0.000000,120.000000,1.925926,0.000000,1.570000e+04,100.000000,25.449816,-161.772780,4.888000e+03
25%,25419.000000,3.000000,2.000000,1400.000000,132.729544,0.173439,2.306000e+05,1641.000000,35.938618,-103.317760,2.250000e+05
50%,50703.000000,3.000000,2.000000,1849.000000,184.122149,0.299449,3.417000e+05,2149.000000,39.938480,-89.185210,3.449000e+05
75%,74134.000000,4.000000,3.000000,2466.000000,257.118205,0.930000,4.995000e+05,2800.000000,42.936455,-79.108376,4.999000e+05
max,99950.000000,21.000000,25.000000,99990.000000,6117.071334,800.000000,7.195920e+07,212834.000000,65.044370,-67.016030,7.600000e+07

In [7]:
house.describe(include = 'object').T
#displaying information about non-numeric columns

        count unique      top freq
State   22681     49       CT  499
City    22681   5481  Lincoln  237
Street  22681  19315  Main St   44

In [8]:
house.columns
#displaying all the columns name

Index(['State', 'City', 'Street', 'Zipcode', 'Bedroom', 'Bathroom', 'Area',
       'PPSq', 'LotArea', 'MarketEstimate', 'RentEstimate', 'Latitude',
       'Longitude', 'ListedPrice'],
      dtype='object')

In [9]:
house.duplicated().sum()
#checking if the dataframe has duplicate values

0

In [10]:
house.isnull().sum()
#checking for null values

State                0
City                 0
Street               0
Zipcode              0
Bedroom             14
Bathroom            34
Area                 0
PPSq                 0
LotArea            902
MarketEstimate    7236
RentEstimate      5976
Latitude             0
Longitude            0
ListedPrice          0
dtype: int64

In [11]:
#About 5 columns have null values but since,
#I am trying to create a predictive model based on Zipcode,Bedroom,Bathroom, Area & ListedPrice
#Treating null values of these columns only to save time

In [12]:
#calculating avearge bedroom numbers 
avg_Bedroom=house['Bedroom'].mean().astype(int) #astype(int) to get integer value as bedroom can't 1.25 room 
avg_Bedroom

3

In [13]:
#filling nullvalues with average room 
house['Bedroom'].fillna(avg_Bedroom, inplace = True)

In [14]:
house.isnull().sum()

State                0
City                 0
Street               0
Zipcode              0
Bedroom              0
Bathroom            34
Area                 0
PPSq                 0
LotArea            902
MarketEstimate    7236
RentEstimate      5976
Latitude             0
Longitude            0
ListedPrice          0
dtype: int64

In [15]:
#calculating average bathroom number
avg_Bathroom = house['Bathroom'].mean().astype(int)
avg_Bathroom

2

In [16]:
#filling null values with average no. of bathrooms 
house['Bathroom'].fillna(avg_Bathroom, inplace = True)

In [17]:
house.isnull().sum()

State                0
City                 0
Street               0
Zipcode              0
Bedroom              0
Bathroom             0
Area                 0
PPSq                 0
LotArea            902
MarketEstimate    7236
RentEstimate      5976
Latitude             0
Longitude            0
ListedPrice          0
dtype: int64

In [18]:
#slecting the columns that are needed for the model 
house_price = house[['Area','Zipcode','Bedroom','Bathroom','ListedPrice']]

In [19]:
house_price.shape

(22681, 5)

In [20]:
#Assigning columns to feature and variables 
X = house_price[['Area','Bedroom','Bathroom','Zipcode']]
y = house_price[['ListedPrice']]

In [21]:
#Performing 70/30 split as the model performed better in this split 
#compared to the traditional 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3, random_state= 42)

In [22]:
#Intializing the model 
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [23]:
#Predicting on the test set
y_pred = model.predict(X_test)
y_pred

array([[1110297.41625538],
       [1118600.56164468],
       [1712625.33121771],
       ...,
       [ 470489.33169431],
       [1827960.46394099],
       [ 546731.86157071]])

In [24]:
#Calculating MEDAE,MSE and R-squared
medae = median_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Median Absolute Error: {medae}')
print(f"Mean squared Error: {mse}")
print(f"R-squared: {r2}")

Median Absolute Error: 226640.29573383997
Mean squared Error: 1666458586185.1128
R-squared: 0.3367503187259008

In [28]:
# Creating a DataFrame with column names
new_house_price = pd.DataFrame({"Area":[1800], "Bedroom": [4], "Bathroom":[2],"Zipcode": [35043]})
predicted_price = model.predict(new_house_price)

print(f"Predicted Price for 2 Bath 4 Bed house in 1800 sqfoot area in Zipcode(35043) is : ${predicted_price[0]}")

Predicted Price for 2 Bath 4 Bed house in 1800 sqfoot area in Zipcode(35043) is : $[198305.65638398]